/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.upload-container {
  margin-top: 20px;
}
.button-container {
  margin-bottom: 20px;
}

.file-label {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.response-section {
  margin-top: 30px;
  max-width: 600px;
  text-align: left;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
}


.preview-image {
  max-width: 100%;
  max-height: 400px;
  border-radius: 8px;
  border: 2px solid #ddd;
}